body {
  margin: 0;
  padding: 00;
}

.top-con {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.logo h1 {
  display: flex;
  font-size: 2.3em;
  font-weight: 900;
  color: black;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 8px;
}

.logo span {
  color: #0ec597;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
  margin-right: 20px;
}
.nav ul li a {
  text-decoration: none;
  text-align: right;
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
}

.logo h1 {
  font-size: 2.5rem;
  color: #000;
}

.logo .highlight {
  color: #4ac5c9;
}

body {
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #3e8e41;
}

.terms {
  text-align: center;
  margin-top: 10px;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
