body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #17a32e, #17a32e);
  max-width: 100%;
}

.container {
  background-color: rgb(143, 177, 151);
  padding: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 500px;
  max-width: 80%;
}

h1 {
  margin-bottom: 20px;
  font: 100;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #09ec6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #000000;
  text-decoration: none;
}

.main-container {
  text-align: left;
  padding-top: 150px;
  padding-right: 50px;
  display: flex;
}

.header {
  position: fixed;
  width: 97%;
  top: 0;
  left: 0;
  padding: 2.5rem 2%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 100;
  background-color: white;
  height: 20px;
  margin-top: center;
}

.header h2 {
  font-weight: 550px;
  font-size: 250%;
  margin-top: center;
}

.navbar {
  padding-right: -100px;
}

.navbar a {
  font-size: 1.1rem;
  margin-left: 1.5rem;
  font-weight: 200;
  transition: 0.3 ease;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.header h2 {
  font-weight: 900;
  margin-top: -10px;
}
.navbar span h2 {
  color: #09ec6f;
}
